/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


/*===================MENU==========================*/

 #menu a, button{
     font-size: 25px !important;
     font-weight: 600;
    
 }

 #menu a{
     color:#3f3f3f;
     
 }
/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height:39rem !important;
}

/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/



#img-equipo{
    max-height:30rem !important;
    width:50%;
}


/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
    margin-top:50px;
    padding-top: 50px;
    background-color: #f3f3f3;
    display: flex;
    padding-bottom: 50px; 
}

.map-responsive iframe{
    width: 100%;
    height: 300px;
}


.wrapper-local {
    width: 90%;
    margin-left: 50px;
}


/*===========================SECCION EQUIPO MIAMI==================================*/
#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;   
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
#numeros-local div:not(:first-child) {
    padding-left:20px;
  }

#numeros-local p{
    margin:0;
}



/*=========================FOOTER================================*/
footer{
    width:100%; /*ancho*/
    padding: 50px 0px; /*margenes*/
    background-image: url(../img/abstract.webp);
    background-size: cover; /*para posicionar bien la imagen y se adapte*/
}

.container__footer{
    display: flex; /* para poner las columnas unas al lado de otras*/
    flex-wrap: wrap; /*para q se pongan una debajo de otra*/
    justify-content: space-between; /* para q mantengan una pocision un tanto estiradas y puedan ocupar el ancho completo del proyecto*/
    max-width: 1200px; /* ancho completo*/
    margin: auto; /* para q el contenedor se mantega centrado*/
    margin-top:100px; /*para bajar un poco el contenedor*/
}
.box__footer{
    display: flex; /*para q sus elementos se pongan uno debajo de otro */
    flex-direction: column; /* para que las cajas q contengan se pongan una debajo de de otra*/
    padding: 30px; /*para que el margen se separe*/
}
.box__footer .logo img{
    width: 150px; /*es para reducir el tamaño de la imagen*/
    
}
.box__footer .terms{
    max-width: 360px;  /* ancho completo*/
    margin-top: 60px; /* para bajar un poco el contenedor*/
    font-weight: 500; /* para q el lateral del texto se ponga mas grueso*/
    color: #7a7a7a;
    font-size: 20px;
   
}
.box__footer h2{
    margin-bottom: 40px; /*margen del texto*/
    color: #343434;
    font-weight: 800;    /* para q la letra del texto se ponga mas gruesa*/
}

.box__footer a{
    margin-top: 10px; /**/
    color: #7a7a7a;
    font-weight: 1000; /* para q la letra del texto se ponga mas gruesa*/
}
.box__footer a:hover{
    opacity: 0.8; /*para dar el efecto ala etiquitas A  de opacidad*/
}
.box__footer a .fab{
    font-size: 25px; /* para k los iconos tenga  un tamaño*/
}
.box__copyrigth{
    max-width: 1200px;
    margin: auto; /* para q el contenedor se mantega centrado*/
    text-align: center;
    padding: 0px 40px; /*para que el margen se separe*/
}
.box__copyrigth p{
    margin-top: 20px;
    color:#7a7a7a;
}
.box__copyrigth hr{
    border:none; /*para eliminar las linea*/
    height: 1px; 
    background-color: #7a7a7a;
}

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
 
}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }

    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}

.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

/*historia texto*/

.container-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    background: white;
    margin-top: 100px;
    border-top: 6px solid #415ae7;
}

.title{
    font-size: 40px;
    margin-bottom: 60px;
}

.sub-title{
    font-size: 30px;
    font-weight: 400;
}

.container-all img{
    width: 500px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.container-all p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
}
