* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgb(230, 248, 229);
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 3;
    text-align: center;
    background-color: cadetblue;
    height: 30px;
}

.nav {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 30px;
    background: linear-gradient(rgba(0, 109, 0, 0.8), rgba(0, 0, 0, 0.8));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 75px;
}

.logo {
    cursor: pointer;
    height: 60px;
    
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    text-decoration: none;
    color: ivory;
}

.navlinks li a:hover {
    color: rgb(83, 171, 238);
}

button {
    padding: 9px 25px;
    background-color: rgb(4, 42, 0);
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 0, 0);
}

/*formato de texto de contenidos*/

h2 {font-family: "Montserrat", sans-serif}

/*Imagen de Reparación y diagnostico*/
.content img{
    position:absolute;
    top: 105px;
    height: 100%;
    width: 100%;
    object-fit: content;
}

/*Estilo de compra*/

.contenido-general {
    padding-left: 16%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.contenido-producto {
    top: 110px;
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.contenido-producto:hover {
    box-shadow: 0 9px 18px 0 rgba(0,0,0,0.2);
}

.contenido-producto img {
    width: 300px;
}

.button-add{
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 4px 20px;
    background-color: white;
    color: black;
    border: 2px solid green;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
  .button-add:hover {
    background-color: #4CAF50;
    color: white;
  }

  /*Barra de navegación vertical*/
   
.navertical ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    top: 105px;
    height: 100%;
    overflow: auto;
  }
  
 .navertical li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .navertical li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .navertical li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

/*Imagenes de transicion*/

    .slider{
        width:95%;
        margin: auto;
        overflow: hidden;

    }
    .slider ul {
        display: flex;
        padding: 0;
        width:400%;

        animation: cambio 10s infinite;
        animation-direction: alternate;
    }

    .slider li{
        width: 100%;
        list-style: none;
    }

    .slider img{
        margin-top: 105px;
        width: 100%;
    }

    @keyframes cambio {
        0% { margin-left: 0;}
        20% { margin-left: 0;}

        25% { margin-left:-100%;}
        45% { margin-left:-100%;}

        50% { margin-left:-200%;}
        75% { margin-left:-200%;}

        75% { margin-left:-300%;}
        100% { margin-left:-300%;}
    }

  /*footer*/
    footer{
        width:100%;
        padding: 50px 0px;
        background-image: url(imgfot/background-footer.svg);
        background-size: cover;
    }

    .container__footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top:100px;
    }
    .box__footer{
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
    .box__footer .logo img{
        width: 120px;
        
    }
    .box__footer .terms{
        max-width: 350px;
        margin-top: 60px;
        font-weight: 500;
        color: #7a7a7a;
        font-size: 18px;
    }
    .box__footer h2{
        margin-bottom: 30px;
        color: #343434;
        font-weight: 700;
    }

    .box__footer a{
        margin-top: 10px;
        color: #7a7a7a;
        font-weight: 1000;
    }
    .box__footer a:hover{
        opacity: 0.8;
    }
    .box__footer a .fab{
        font-size: 25px;
    }
    .box__copyrigth{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 40px;
    }
    .box__copyrigth p{
        margin-top: 20px;
        color:#7a7a7a;
    }
    .box__copyrigth hr{
        border:none;
        height: 1px;
        background-color: #7a7a7a;
    }
